@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    background-color: #f6f3ee;
    color: #3d2f2b;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

body.disabled {
    overflow: hidden;
}

.popup {
    position: fixed;
    width: 50%;
    z-index: 2;
    background-color: #f6f3ee;
    border: 3px solid #916043;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup > .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.popup > .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.popup-block{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #00000094;
}

body.disabled .body-container {
    filter : blur(1px);
}

.header {
    width: 100%;
    height: 100px;
    font-size: 20px;
    background-color: #3d2f2b;
    color: #f6f3ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.tableau {
    width: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 7px 0;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}

th {
    color: black;
    background-color: #916043;
}

.header > .instructif-title {
    font-size: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

span.center, p.center {
    text-align: center;
}

.connexion-container {
    display: flex;
    justify-content: space-evenly;
    min-width: 60%;
}

.field {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type=text], input[type=password]{
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #3d2f2b;
}

.field > label {
    width: 45%;
    text-align: right;
}

.field > input {
    width: 50%;
}

.field > select {
    border-radius: 0;
    background-color: white;
    color: #3d2f2b;
    width: 50.5%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.field > textarea {
    border-radius: 0;
    background-color: white;
    color: #3d2f2b;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    resize: none;
    height: 100px;
}

.bloc-connexion, .bloc-inscription, .bloc-demande-attente {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #916043;
    padding: 20px;
    border-radius: 20px;
    margin: 0 5px;
    gap: 10px;
}

.bloc-demande-attente {
    align-items: flex-start;
}

.bloc-inscription, .demande-intervention {
    width: 60%;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid #916043;
}

.secondary-title {
    color: #916043;
    font-weight: bolder;
}

button {
    text-transform: uppercase;
    background-color: #916043;
    color: #f6f3ee;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    width: fit-content;
    cursor: pointer;
    font-size: 15px;
}

h1.title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 10px;
}

.instructif-title {
    font-family: 'Caveat', cursive;
}

.flex-item-center {
    align-self: center;
}

.flex-content-center {
    display: flex;
    justify-content: center;
}

.mb-3 {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}